.landing-page-phone-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.landing-page-phone-bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.landing-page-phone-bg-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
