.navbar-phone-main-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.navbar-phone-hamburger {
  width: 40px;
  margin-right: 3%;
}

.navbar-phone-dropdown-main-container {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 100%;
  right: 0;
  overflow: hidden;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
